@using FormFlow.Blazor.Components.QuestionTypes
@using FormFlow.Blazor.Components

@if (Question is not null)
{
    var componentType = QuestionComponentMapper.Resolve(Question.Type);

    if (componentType is null)
    {
        <p style="color:red">Unsupported question type: @Question.Type</p>
    }
    else
    {
        var parameters = new Dictionary<string, object?>
        {
            ["Question"] = Question
        };

        <DynamicComponent
            Type="componentType"
            @key="Question.Id"
            Parameters="parameters" />
    }
}

@code {
    [Parameter, EditorRequired]
    public QuestionDefinition? Question { get; set; }
}

