@if (Question is not null)
{
    @switch (Question.Type.ToLower())
    {

        case "dropdown":
            <DropdownQuestion Question="Question" />
            break;
        
        case "text":
            <TextQuestion Question="Question" />
            break;

        case "multiselect":
            <MultiselectQuestion Question="Question" />
        case "checkbox":
            <CheckboxQuestion Question="Question" />
            break;

        case "radio":
            <RadioQuestion Question="Question" />
            break;

        default:
            <p style="color:red">Unsupported question type: @Question.Type</p>
            break;
    }
}

@code {
    [Parameter, EditorRequired]
    public QuestionDefinition? Question { get; set; }
}
