<MudPaper>    
    <div>
        <label>
            @Label
        </label>
        <input type="text" value ="@Value" @onchange="OnInputChanged" />
    </div>
</MudPaper>
@code {
    [Parameter]
    public string Label { get; set; } = "";

    [Parameter]
    public string? Value { get; set; } = "";
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
    // Two way binding 
    private async Task OnInputChanged(ChangeEventArgs e)
    {
        // turn generic object(Value) into a string(ToString()) so C# can work with it
        Value = e.Value?.ToString();

        await ValueChanged.InvokeAsync(Value);
    }
}