@page "/admin/questions"
@using MudBlazor

<PageTitle>Question Management</PageTitle>


<MudPaper Class="pa-4" Elevation="1">
    <h3>Question Management</h3>

    <p>This page will contain the admin UI for creating and managing questions.</p>

    <MudButton Variant="Variant.Filled"
                Color="Color.Primary">
        Create New Question            
    </MudButton>
</MudPaper>